{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('PMS Admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        {% translate 'Patient Management System' %}
    </a>
</h1>
{% endblock %}

{% block userlinks %}
    {% include "components/language_switcher.html" %}
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/rtl.css' %}">
{% endblock %}